@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Styles */
:root {
  --body_background: #f9f9f9;
  --color_border: #fddad6;
  --upcoming: #fff5f5;
  --text_color: #2e1619;
  --opacity_color: #8a8686;
  --card_background: #fff;
  --gradient_background: linear-gradient(
    101deg,
    #ff7594 -6.58%,
    #ff7c65 102.46%
  );
  --normal_color: #03922b;
  --slightly_higher_color: #82ab0d;
  --small_card_background: rgba(255, 45, 45, 0.6);
  --default_color: #384449;
  --default_color_opacity: 0.6;
  --special-color: #ff7594;
  --bar-icon-bg: white;
  --bar-icon-color: #ff7594;
  --menu_background: white;
  --brand_color: #384449;
  --arrow_bg: #fff;
  --arrow_color: #ff7594;
  --title_color: #646f75;
  --card_shadow: 0px 3.174px 3.967px 0px rgba(0, 0, 0, 0.2);
  --second_text_color: #4a3d3f;
  --doctor_color: #384449;
  --border_special: #d1d5db91;
  --todo_input_field: #fff;
  --low_gray: #e0e0e0;
  --checkbox_default: #edebeb;
  --fullboxshadow: 0 0 0 0 rgba(237, 129, 129, 0), 0 0 0 0 #fff0;
  --midboxshadow: 0 0 0 10px rgba(238, 31, 31, 0), 0 0 0 15px rgba(234, 17, 17, 0);
  --smallboxshadow: 0 0 0 0 rgba(244, 153, 153, 0.709), 0 0 0 0 rgba(248, 152, 152, 0.685);
}

/* Dark Mode Styles */
[data-theme="dark"] {
  --body_background: linear-gradient(0deg, #150a09 0%, #150a09 100%), #2e1619;
  --card_background: rgba(255, 255, 255, 0.1);
  --text_color: #d1d5db;
  --upcoming: rgba(255, 255, 255, 0.1);
  --opacity_color: #a6a6a6;
  --color_border: #d1d5db91;
  --gradient_background: linear-gradient(
    101deg,
    #ff7594 -6.58%,
    #ff7c65 102.46%
  );
  --normal_color: #d1d5db;
  --slightly_higher_color: #d1d5db;
  --small_card_background: rgba(255, 255, 255, 0.5);
  --special-color: #ff7594;
  --bar-icon-bg: #ff7594;
  --bar-icon-color: #fff;
  --menu_background: #2e1619;
  --brand_color: #fff;
  --arrow_bg: #ff7594;
  --arrow_color: #fff;
  --title_color: #fff;
  --card_shadow: 0px 3.174px 3.967px 0px rgba(0, 0, 0, 0.2);
  --second_text_color: #d1d5db;
  --doctor_color: #fff;
  --border_special: transparent;
  --todo_input_field: rgba(255, 255, 255, 0.1);
  --low_gray: #a6a6a6;
  --checkbox_default: #d1d5db;
  --fullboxshadow: 0 0 0 0 rgba(218, 16, 16, 0), 0 0 0 0 #fff0;
  --midboxshadow: 0 0 0 10px rgba(238, 31, 31, 0),
    0 0 0 15px rgba(234, 17, 17, 0);
  --smallboxshadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--body_background);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient_background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6798d;
}

/* Default Styles */
* {
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: var(--text_color);
}

/* Body */
body {
  background: var(--body_background) !important;
}

/* Sidebar Styles */
#sidebar {
  background-color: var(--menu_background);
}

/* Sidebar Icons Styles */
.iconStyles svg {
  fill: var(--text_color) !important;
  transition: none !important;
}
.barStyles {
  width: 37px;
  margin: 0 auto;
}
.barStyles:hover {
  cursor: pointer;
}
.barStyles svg rect {
  fill: var(--bar-icon-bg) !important;
}
.barStyles svg path {
  stroke: var(--bar-icon-color) !important;
}
.barStyles:hover svg rect {
  fill: var(--bar-icon-bg) !important;
}
.barStyles:hover svg path {
  stroke: var(--bar-icon-color) !important;
}
.iconStyles.special svg {
  fill: var(--special-color) !important;
  transition: all 0.1s !important;
}
.iconStyles-path svg path {
  stroke: var(--text_color);
  transition: all 0.2s !important;
}
.special-icon {
  color: var(--special-color);
  transition: all 0.2s !important;
}
.special:hover {
  color: var(--special-color);
}
.special:hover .iconStyles-path svg path {
  stroke: var(--special-color);
}
.special:hover .iconStyles svg {
  fill: var(--special-color) !important;
}

/* Brand Name On Sidebar Styles */
#brandLogo {
  color: var(--special-color);
}
#brandLogo span {
  color: var(--brand_color);
}

/* Menu Open Close Arrow Styles */
#OffMenu {
  background-color: var(--arrow_bg);
  box-shadow: 0 1px 2px 1px rgba(113, 113, 113, 0.197);
}

#OffMenu svg path {
  fill: var(--arrow_color);
}

/* Navbar Styles */
#pageTitle {
  color: var(--title_color);
  font-weight: 500;
}

#userIcon {
  border-color: var(--special-color);
  object-fit: cover;
}
.scrolled {
  background: var(--gradient_background);
  box-shadow: 0 0 15px 2px #2e161913;
}
#openProfile svg path {
  fill: var(--brand_color);
}

/* New Appointment Button */
.animatedButton {
  position: absolute;
  top: 2.5px;
  left: 17.5;
  z-index: -1;
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: block;
  background-color: #e73212;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #fff;

  animation-name: ripple;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Dashboard Page Styles */
#welcomeText {
  background: var(--gradient_background);
  border-radius: 8px;
  padding: 0 16px;
}
/* Tools Result Styles */
.tools {
  background: var(--card_background);
  box-shadow: var(--card_shadow);
  text-align: left;
}
.toolsIcon svg {
  fill: var(--small_card_background);
}
.toolsIcon3 svg rect {
  fill: var(--small_card_background);
}
.toolsIcon4 svg rect {
  fill: var(--small_card_background);
}
.toolsName {
  color: var(--text_color);
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.toolsResult,
.toolsResult span {
  color: var(--second_text_color);
  font-size: 17px;
  font-weight: 500;
  margin: 5px 0;
}
.resultTypeArrow svg path {
  fill: var(--text_color);
}
.resultNormal {
  color: var(--normal_color);
  font-size: 14px;
}
.resultSlightly {
  color: var(--slightly_higher_color);
  font-size: 14px;
}

/* Upcoming Appointments */
.upcomingAppointment {
  background: var(--card_background);
  border-color: var(--border_special);
}
.doctorName,
.doctorCategory {
  color: var(--doctor_color);
}
.upcoming {
  background: var(--upcoming);
  border: 1px solid var(--color_border);
}

/* todoList */
.todoList {
  background: var(--card_background);
  border-color: var(--border_special);
}
.addTodoBtn svg {
  width: 23px;
  fill: #ff7594;
}
.addButton {
  background: var(--gradient_background);
  color: #fbfbfb;
  font-size: 14px;
  padding: 5px 12px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.todoInputField {
  background: var(--todo_input_field);
  border: 1px solid var(--border_special);
}
.add_date {
  color: var(--low_gray);
}
.checkbox {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  border-color: var(--special-color);
}
input[type="checkbox"]:not(:checked) {
  /* Explicit Unchecked Styles */
  border-color: var(--checkbox_default);
  color: blue !important;
}
input[type="checkbox"]:checked {
  font-weight: 900;
  border-color: var(--special-color);
  color: white;
}

/* covidUpdates */
.covidUpdates {
  background: var(--card_background);
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--border_special);
}
.covidTime {
  color: var(--opacity_color);
}
.covidReport {
  background: var(--gradient_background);
}
.covidTitle {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.covidNumber {
  color: white;
  font-size: 35px;
  font-weight: 500;
}

/* Appointment Animation Keyframes */
@keyframes ripple {
  0% {
    box-shadow: var(--smallboxshadow);
  }

  80% {
    box-shadow: var(--midboxshadow);
  }

  100% {
    box-shadow: var(--fullboxshadow);
  }
}

/* MEdia Query */
@media only screen and (max-width: 834px) {
  .div2,
  .div3,
  .div4,
  .div5 {
    padding: 0 20px;
  }
  .div2 {
    padding-top: 20px;
  }
  .div5 {
    padding: 0 20px;
  }
  #navbar {
    background: var(--gradient_background);
  }
  #navbar #pageTitle {
    color: white;
  }
  #mainOutlet {
    padding: 0;
  }
  #welcomeText {
    flex-direction: column;
    padding: 0 20px 30px 20px;
    align-items: start;
    gap: 0;
    border-radius: 0;
    margin-top: -10px;
  }
  #welcomeText img {
    width: fit-content;
    margin: 0 auto;
  }
}
